@model IEnumerable<MemberManagementSystem.Models.User>
@using Microsoft.AspNetCore.Http
@{
    var LoginEmail = Context.Session.GetString("LoginEmail");
}

<h2>使用者列表</h2>
<form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="search" value="@ViewContext.HttpContext.Request.Query["search"]" placeholder="輸入名稱或 Email 查詢" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">搜尋</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>使用者名稱</th>
            <th>Email</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @if(user.Email == LoginEmail)
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">編輯</a> 
                        <a asp-action="Delete" asp-route-id="@user.Id">刪除</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

